@CHARSET "UTF-8";
/**
 * @doc 前台公共样式
 * @author Heanes
 * @time 2015-11-21 22:11:30
 */
/* 常用及简写样式 */
.fixed{position:fixed;z-index:100;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clear{clear:both;content:" ";display:block;}
.clear-left{clear:left;content:" ";display:block;}
.clear-right{clear:right;content:" ";display:block;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.for-eye-protect{background:#e3edcd;}
.none{display:none}
.relative{position:relative}

/* 通用命名下的样式 */
.wrap{width:100%;}
.wrap,
.main-wrap,
.header,
.main,
.footer,
.center-wrap,
.left-wrap,
.right-wrap{margin:0 auto;}
[class*="-wrap"]{margin:0 auto;}
.float-block{float:left;}

/* S 页面框架结构 S */
.main-wrap{width:1200px;}

/* 页面框架示例布局 */
.full-frame-example .header{height:100px;background-color:#f4f4f4;}
.full-frame-example .footer{height:100px;background-color:#686b6c;}

/* S 中间主体 S */
/* 中心主体上下全宽内容 */
.full-frame-example .main .main-top-block{background:#fff;margin-bottom:12px}
.full-frame-example .main .main-bottom-block{background:#fff;margin-bottom:12px}
.full-frame-example .main .main-top-block,
.full-frame-example .main .main-bottom-block{height:140px;}
/* 中心主体上下主宽内容 */
.full-frame-example .main .main-top-content{background:#fff;margin-bottom:12px}
.full-frame-example .main .main-bottom-content{background:#fff;margin-bottom:12px}
.full-frame-example .main .main-top-content,
.full-frame-example .main .main-bottom-content{height:160px;}
/* 中心主体内容 */
.full-frame-example .main .main-content{margin-bottom:12px;background-color:#e9e9e9;}
.full-frame-example .main .main-content .center-wrap{width:920px;}
.full-frame-example .main .main-content .center-block{background-color:#fff;}
.full-frame-example .main .main-content .center-block{height:1000px;}

/* 左侧工具栏 */
.full-frame-example .main .main-content .left-wrap{width:260px;}
.full-frame-example .main .main-content .left-block{background:#fff;margin-right:16px;}
.full-frame-example .main .main-content .left-block{height:1000px;}
/* 右侧工具栏 */
.full-frame-example .main .main-content .right-wrap{width:260px;}
.full-frame-example .main .main-content .right-block{background:#fff;margin-left:20px;}
.full-frame-example .main .main-content .right-block{height:1000px;}
.full-frame-example .main .main-content .right-block,
.full-frame-example .main .main-content .left-block{display:none;}

/* 左侧盯住栏 */
.full-frame-example .left-bar{position:fixed;top:0;left:0;width:100px;height:100%;background:rgba(215,230,233,0.5)}
/* 右侧盯住栏 */
.full-frame-example .right-bar{position:fixed;top:0;right:0;width:35px;height:100%;background:rgba(0,0,0,.4)}

/* E 页面框架结构 E */

.full-frame-example .header:after{content:"头部";display:inline-block;width:100%;text-align:center;}
.full-frame-example .footer:after{content:"脚部";display:inline-block;width:100%;text-align:center;color:#fff;}

.full-frame-example .main .main-top-block:after{content:"顶部全宽";display:inline-block;width:100%;text-align:center;}
.full-frame-example .main .main-bottom-block:after{content:"底部全宽";display:inline-block;width:100%;text-align:center;}
.full-frame-example .main .main-top-content:after{content:"主体顶部主体宽";display:inline-block;width:100%;text-align:center;}
.full-frame-example .main .main-bottom-content:after{content:"主体底部主体宽";display:inline-block;width:100%;text-align:center;}

.full-frame-example .main .main-content{position:relative;}
.full-frame-example .main .main-content:after{content:"中心主体内容";position:absolute;left:0;top:50%;width:100%;text-align:center;}