<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta charset="UTF-8"/>
<!-- responsive -->
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="renderer" content="webkit"/>
<meta name="author" content="Heanes heanes.com email(heanes@163.com)"/>
<meta name="keywords" content="软件,商务,HTML,tutorials,source codes"/>
<meta name="description" content="描述，不超过150个字符"/>
<!-- Favicon -->
<link rel="shortcut icon" href="/public/static/image/favicon/favicon.ico"/>
<link rel="bookmark" href="/public/static/image/favicon/favicon.ico"/>
<!-- style -->
<link rel="stylesheet" type="text/css" href="/public/static/libs/css/reset/reset.css"/>
<link rel="stylesheet" type="text/css" href="/public/static/libs/css/base/base.css"/>
<link rel="stylesheet" type="text/css" href="../css/style/style.css"/>
<link rel="stylesheet" type="text/css" href="../css/common.css"/>
<link rel="stylesheet" type="text/css" href="../css/css.css"/>
<title>脚部</title>
</head>
<body>
<div class="wrap">
    <!-- S 脚部 S -->
    <div class="footer">
        <a class="goto_top" id="back_top" style="display: inline;"></a>
        <div class="foot_t">
            <p class="foot_nav">
                <a href="">登录</a> <a href="">注册</a>
            </p>
            <p class="foot_nav_center">
                <a href="/">返回首页</a>
            </p>
            <p class="foot_gotop">
                <a href="javascript:scroll(0,0)">top<b>&nbsp;</b></a>
            </p>
        </div>
        <p class="foot_info">
            <a href="/" id="pc_href">电脑版</a>
        </p>
        <div class="foot_copyright">
            <p></p>
            <p>北京市朝阳区大望路SOHO现代城D座</p>
            <p>Tel: 010-56146692 E-mail: yuju@yujumall.cn </p>
            <p><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备12001130号-23</a></p>
        </div>
    </div>
  <!-- E 脚部 E -->
</div>
<cite>
    <!-- S js S -->
    <script type="text/javascript" src="/public/static/libs/js/jquery/2.1.4/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
  <!-- E js E -->
</cite>
</body>
</html>