@charset "UTF-8";
/*登录*/
.logo { text-align: center; padding: 1em 0;}
.logo a img { width: 13.5em; height: 9em; padding:1em 0;}
.copyright { color: #9c9c9c; text-align: center; width: 100%;   font-size: .8em; }
.b-list { background: #fff;}
.b-list li {display: -webkit-box; -webkit-box-align:center; border-bottom: 1px solid #c8c8c8; height: 2.8em; margin: 0 .7em; line-height: 2.8em; }
.b-list li:last-child { border-bottom: 0;}
.b-list li input { font-size: 1em;  height: 2.5em; line-height:2.5em;width:15em; color: #b6b6b6; }
.b-list li.tel i { margin-left: 1em; display: block; width:2.5em; height: 2em; background:url(../images/lock.png) 0 center no-repeat; background-size: .9em 1.2em;}
.b-list li.lock i { margin-left: 1em;display: block; width: 2.5em; height:2em; background:url(../images/lock.png) 0 center no-repeat;  background-size: .9em 1.2em;}
.b-list li.lock b { background:url(../images/eye.png) 0 center no-repeat; background-size: 1.4em .9em; display: block; width: 2.5em; height: 1.5em;}
.b-list li.code i { margin-left: 1em;display: block; width: 2.5em; height:2em; background:url(../images/key.png) .1em center no-repeat;  background-size: .8em 1.2em;}
.b-list li.code em { border-left: 1px solid #f36666; line-height: 1.5em; display: block; height: 1.5em; padding-left: .8em; }
.b-list li.code em a { color: #f36666; }
.b-list li.code input { width: 11em;}
.b-list li.invite i {margin-left: 1em;display: block; width: 2.5em; height:2em; background:url(../images/invite.png) 0 center no-repeat;  background-size: .9em 1.2em;}
.password { text-align: right; padding: 1em 2em 2em 2em;}
.password a { color: #f36666; text-decoration: underline; }
.password a:first-child { float: left; }
.password a:last-child { float: right; }
.btn-l {font-size: 1.142em;color: #FFF;width: 15em;height: 2.3em;background: #00b678;-webkit-border-radius: 0.3em;display: block;margin: 1em auto;text-align: center;line-height: 2.3em;}
.mt { margin-top: 2em;}

/***月供贷****/
input[type=text],input[type=password],input[type=tel] {display: block; margin: 0px; padding: 0px; border: none; color: #989898; -webkit-box-flex: 1; height: 2.6em; font-size: 1.1em;}
.desc {text-indent: 1em; line-height:3em; color: #989898;}
.loan {padding-bottom: 10%;}
.loan li {margin: .8em .8em 0; background: #fff; border: 1px solid #d3d3d3; border-radius: .4em; padding: 1em 1.5em; overflow: hidden;}
.loan li a {display: -webkit-box; -webkit-box-align: center;}
.loan li a b {font-size: 1.2em; line-height: 2em;}
.loan li a span { color: #474747;}
.loan li a i {color: #ff4c3e;}
.loan li a em {color: #9b9b9b;}
.loan li a div:nth-child(1) { display: block; -webkit-box-flex: 1;}
.loan li a div:nth-child(1)  img { height:.9em;width:2.2em;}
.loan li a div:nth-child(1) p:nth-child(1) {display: inline;}
.loan li a div:nth-child(2) {display: -webkit-box;width: 3.2em; height: 3.2em; color: #32bc8b;line-height: 1.2em; border: 1px solid #32bc8b; border-radius: 50%; font-size: 1.2em;-webkit-box-pack: center; -webkit-box-align: center;}
.loan-list {background: #fff; margin-bottom: 2em;}
.mb {margin-bottom: 1em;}
.loan-list li {display: -webkit-box; height: 3em; margin: 0 1em; border-bottom: 1px solid #c2c2c2; -webkit-box-align: center; -webkit-box-pack: start; -webkit-box-orient: horizontal;}
.loan-list li label { display: block;width: 5em;}
.loan-list li input {width: 55%;}
.loan-list li:last-child {border: 0;}
.mb0 {margin-bottom: 0;}
.list li span {display: block; width: 35%;}
.list li p {display: -webkit-box; -webkit-box-pack: end; width: 55%;}
.list li i { display: block; background:url(../images/go-icon.png) 0 0 no-repeat; width: 0.642em; background-size: 100% 100%; height: 0.928em; margin-left: .7em;}
select {font-size: 1.1em; color: #989898; background: none;}
.list li em {display: block; width: 2.3em; margin-left: .5em;}
.list li input, .list li select option { text-align: right; width: 100%;}
.red {color: #ff0600; text-align: right; padding: 0 2em; line-height: 2.5em;}
.gray { color: #666;text-align: right; padding: 0 1.5em; line-height: 2.5em;}
.list .house span { display: inline;}
.list .house span:nth-child(1) {margin-right: 2em;}
.list .house select { display: inline; margin:0  .5em;}
.list .house b {color: #989898;}
.list .house strong {margin-left: 3em;}
.list .area p {width: 48%;}
.list .area em { width:3em;}
.loan-info {background: #fff;padding: 1.4em 0 1.5em 0;border-bottom: 1px solid #d5d5d5;margin-bottom: .6em;}
.loan-info p {background: url(../images/posi-icon.png) 23% center no-repeat;text-align: center;background-size: 1.2em 1.4em;font-size: 1.1em;}
.loan-info ul {margin-top: 1em;}
.loan-info ul li {margin: 0 2em;color: #989898;line-height: 2em;display: -webkit-box;}
.loan-info ul li em, .loan-info ul li span {width: 40%;display: block;}
.loan-info ul li em {margin-left: 1em;}
.loan-info ul li span {text-align: right;}
.detail {height: 3em;line-height: 3em;text-align: center;background: #fff;border-top: 1px solid #d5d5d5;color: #989898;border-bottom: 1px solid #d5d5d5;}
.detail span {margin-right: 1em;}
.detail a {color: #ff4047;}
.bt {margin-top: 3em;display: -webkit-box;-webkit-box-pack: center;}
.bt a:first-child {margin-right: 1.5em;}
.green, .blue {background: #00b678;font-size: 1.1em;line-height: 2.3em;height: 2.3em;text-align: center;border-radius: .3em;color: #fff;width: 7.5em;display: block;}
.blue {background: #01c8c1;}

/*****平安银行****/
.pab {background: #fff;padding: 1em .5em;display: -webkit-box;margin-bottom: .5em;}
.pab a {display: block;margin-right: .5em;width: 4em;height: 4em;}
.pab a img {width: 100%;height: 100%;}
.pab > div {display: block;-webkit-box-flex: 1;}
.pab h2 {font-size: 1.1em;color: #333;}
.pab h2 span {color: #989898;font-size: .9em;margin-left: .5em;}
.pab > div li {display: -webkit-box;color: #656565;font-size: .9em;}
.pab > div li p {display: block;width: 50%;}
.tab {background: #fff;margin-bottom: 2em;}
.tab > li a {padding: 0 .6em;display: block;line-height: 2.5em;border-bottom: 1px solid #c2c2c2;}
.tab > li:first-child a {border-top: 0;}
.tab > li:last-child a {border: 0;}
.tab > li.up:last-child  { border: 0;}
.cont {margin: .8em 1em;width: 90%;font-size: .9em;color: #989898;display: none;line-height: 1.8em;}
.tab > li.drop a {background: url(../images/go-icon.png) 95% center no-repeat;background-size: .8em 1.2em;}
.tab > li.up {border-bottom: 1px solid #c2c2c2;}
.tab > li.up a {background: url(../images/up.jpg) 95% center no-repeat;background-size: 1.2em .6em;	border-bottom: 1px solid #c2c2c2;}

/***评估结果***/
.tx {padding: 1em 0;}
.result {background: #fff;margin-bottom: 1em;}
.result li {display: -webkit-box;height: 3em;margin: 0 1em;line-height: 3em;border-bottom: 1px solid #c2c2c2;}
.result li:last-child {border: 0;}
.result li p {width: 50%;display: -webkit-box;}
.result li p label {width: 4.5em;color: #989898;display: block;}

/***贷款进度查询***/
.query {padding: .5em 1em;color: #989898;}
.query h2 {font-size: 1em;}
.query li span {margin-right: 1em;}
.query p {color: #989898;display: -webkit-box;-webkit-box-align: center;}

/****宜信****/
.letter, .letter li:first-child a {color: #989898;}
.letter {margin: 1em;}
.letter li:first-child {border-bottom: 1px solid #c4c4c4;margin-bottom: .6em;line-height: 2.5em;}
.letter li span {color: #ff0600;}
.letter li:first-child a {background: url(../images/checkbox.jpg) 0 center no-repeat;display: block;padding-left: 1.5em;background-size: 1em;}
s
/***等待**/
.wait { text-align: center; color: #333;}
.rotate { margin:6em auto 1em  auto;width:4em;height:4em;position: relative;}
.round {-webkit-animation: animate 2.4s infinite;
	animation: animate 2.4s infinite; position: absolute; height:.6em; width: .6em; border-radius:1em; background:#ddd; }
.r-1 {left:1.7em;  }
.r-2 {right:.9em; top:.3em;-webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.r-3 {right:.3em; top:.9em;-webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;}
.r-4 {right:0; top:1.7em;-webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;}
.r-5 { right:.3em;bottom:.9em;-webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;}
.r-6 { right:.9em; bottom: .3em;-webkit-animation-delay: 1s;
    animation-delay: 1s;}
.r-7 { left: 1.7em; bottom:0;-webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;}
.r-8 { left:.9em; bottom: .3em;-webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;}
.r-9 { left: .3em; bottom: .9em;-webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;}
.r-10 { left:0; top:1.7em;-webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;}
.r-11{ left:.3em;top:.9em;-webkit-animation-delay: 2s;
    animation-delay: 2s;}
.r-12{ left: .9em; top:.3em;-webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;}

@-webkit-keyframes animate {

  25% {

	  -webkit-background:#5d5d5d;
    background:#5d5d5d;}


  75% {
		   	-webkit-background:#858585;
    background:#858585;
	  }


}

@keyframes animate {
  25% {
   	-webkit-background:#5d5d5d;
    background:#5d5d5d;
	  }


  75% {
		-webkit-background:#858585;
    background:#858585;
	  }

}

/****垫付****/
.pay  li { margin-bottom: .8em; background: #fff; }
.pay  li  a { padding: 1em .6em; display:-webkit-box;}
.pay  li  a h3{ font-size: 1em; line-height:1.8em}
.pay  li a p { color: #999; font-size: .8em;}
.pay  li  a  div {  -webkit-box-flex:1; padding-top: .4em; }
.pay  li:nth-child(1) a  i{ width: 3.5em;height:5em; margin-right: .5em;
 display: block; background:url(../images/icon-mloan.jpg) 0 center no-repeat; background-size:100%; }
.pay  li:nth-child(1) a  em{   display: block; width: 6em; height: 5em;background:url(../images/house.jpg) 0 0 no-repeat; background-size:100%;  }
.pay  li:nth-child(2) a  i{ width: 3.5em;height:5em;margin-right: .5em;  
 display: block; background:url(../images/pay.jpg) 0 center no-repeat;background-size:100%;}
.pay  li:nth-child(2) a  em{   display: block; width: 6em; height: 5em;  background:url(../images/person.jpg) 0 0 no-repeat;background-size:100%; }

/****专属活动****/
.tab-nav {background: #fff; font-size: 1.1em; display: -webkit-box; border-bottom: 1px solid #c3c3c3;color: #343434;}
.tab-nav li {-webkit-box-flex: 1; line-height: 2.8em; height: 2.8em; overflow: hidden;
text-align: center;}
.tab-nav li a {display: block; width: 100%; height: 2.857em;}
.tab-nav li.current a {color: #2fb3ff;}
.new-list {background: #fff;}
.new-list li a {display: -webkit-box;border-bottom: 1px solid #c3c3c3; padding: .7em;}
.new-list li div {display: block; -webkit-box-flex: 1; width: 62%; position: relative;}
.new-list li h2 {color: #777;}
.new-list li p {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; word-break: break-all; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.new-list li h2 span { margin-right: .4em; line-height: 2.5em;font-size: .8em;}
.new-list li img {display: block; -webkit-box-flex: 1; height: 5em; width:8em;}
.new-list li h2 span.hot {background: #ff6d6d; border-radius: .2em; line-height: 1em;   color: #fff; padding: 1px; bottom: .8em; right: 6%;}
.newsList{ background:#fff;  padding-bottom:8%;}
.newsList h3 { font-size:1.50em; padding-top:1.2em; margin:0 1em;}
.newsList h4 { font-size:1em; margin:1em 1em 1.4em 1em; color:#989898;}
.newsList h4 span { margin-right:1em; }
.newsList p { margin:1em; line-height:1.6em; font-size:1.1em;}
.center {text-align: centercolor: #454545;}

/***专属客服**/
.exclusive_1{ margin:90px 30px 30px; padding:20px; background-color:#fff; text-align:center; box-shadow: 0px 2px 8px rgba(0,0,0,0.2);  border-radius: 7px;}
.exclusive_1 img{ width:100%;}
.exclusive_1 p{ font-size:1.8em; line-height:3.0em;}
.exclusive_1 p span{ color:#ff5555;}
.exclusive_1 .assistant{ font-size:1.2em;}
.exclusive_1 .assistant a{ color:#a09f9f;}
.exclusive_1 .assistant:before{ content:""; display:inline-block; clear:both; background:url(../images/logo.png) left center no-repeat; width:30px; height:30px; vertical-align:middle; margin-right:.4em;}
