@CHARSET "UTF-8";/**
 * @doc 各页页面样式
 * @copyright heanes.com
 * @author Heanes
 * @time 2015-05-13 15:11:59
 */
 /**********************首页******************************************/
/* 首页响应式幻灯，支持触摸屏 */
.index-slide{width:100%;min-height:150px;max-height:150px;margin:0 auto;text-align:center}
.index-slide img{width:100%;min-height:150px;max-height:150px}
ul.index-slide-pager{display:block;position:absolute;width:100%;height:8px;bottom:8px;text-align:center;margin:5px 0 0 0;line-height:0px}
ul.index-slide-pager li{display:inline-block;margin-right:5px;background-color:#f7f7f7;border:1px rgba(0,0,0,.2) solid;border-radius:8px;width:8px;height:8px;cursor:pointer}
ul.index-slide-pager li:hover,ul.index-slide-pager li.act{background-color:#ff5000}
ul.index-slide-pager li.act{cursor:default}
/* 首页色块导航 */
.index-fragment-block{}
.block-left-list,.block-right-list{float:left;width:50%;margin-top:10px}
.block-large{height:180px;padding:5px}
.block-normal{height:118px;padding:4px}
.red-block,.orange-block,.blue-block,.green-block{height:100%;border-radius:6px}
.red-block{background:#FD6862}
.orange-block{background:#FED349}
.blue-block{background:#84AFFE}
.green-block{background:#59DFBE}
.index-fragment-block .block-large a{padding-top:40px}
.index-fragment-block .block-normal a{padding-top:15px}
.index-fragment-block div a{display:block;height:100%;color:#fff;text-align:center;font-size:16px}
.index-fragment-block div a span{display:block}
/* sprite形式 */
.index-fragment-block .block-large i{display:inline-block;width:100px;height:99px;background:url(../image/common/icon.png) no-repeat}
.index-fragment-block .block-normal i{display:inline-block;width:72px;height:72px;background:url(../image/common/icon.png) no-repeat}
.index-fragment-block i.block-member{background-position:0 -64px}
.index-fragment-block i.block-apply{background-position:-89px -64px}
.index-fragment-block i.block-about{background-position:0 -163px}
.index-fragment-block i.block-introduce{background-position:-74px -163px}
.index-fragment-block i.block-contact{background-position:-148px -163px}
/* 单图形式 */
.index-nav-block-img{display:inline-block;width:100px;height:100px}
.index-nav-block-img-small{display:inline-block;width:72px;height:72px}
/**********************************页面**********************************/
/* S 数据填写 S */
.data-edit-block{padding:10px}
.data-edit-title{margin-bottom:15px}
.data-edit-title p{padding:2px 4px;font-size:16px}
.data-edit-table{width:100%;background:#fff;border-radius:8px;font-size:16px;margin-bottom:10px}
.data-edit-table tr{border-bottom:1px solid #ddd;height:50px}
.data-edit-table tr:last-child{border-bottom:none}
.data-edit-table tr th{width:40%;text-align:right;padding:1px}
.data-edit-table tr td{width:60%;padding:8px}
.data-edit-table tfoot tr td{text-align:left}
.data-edit-table td.td-input-select{text-align:left;padding-right:20%}
.input-tip{font-size:12px;}
/* E 数据填写E */
/* S 数据展示S */
.data-detail-block{padding:10px}
.data-detail-table{width:100%;margin-bottom:30px;background:#fff;border-radius:8px;font-size:16px}
.data-detail-table tbody tr{border-bottom:1px solid #ddd;height:50px}
.data-detail-table tbody tr:last-child{border-bottom:none}
.data-detail-table tbody tr th{width:40%;text-align:left;padding-left:8px}
.data-detail-table tbody tr td{padding:0 5px;text-align:right}
.data-detail-table tfoot tr td{text-align:right}
/* 订单进度 */
.order-progress-list tbody tr{border:none}
.order-progress-list tbody td:first-child{width:50%;text-align:right}
.order-progress-list tbody td:last-child{width:50%;text-align:left}
.order-progress-list tbody td:nth-child(2n){text-align:center}
.order-finish,.order-unfinish{display:inline-block;width:24px;height:100%;vertical-align:middle}
.order-unfinish{background:url(../image/progress/dot_unfinish.jpg)}
.order-finish{background:url(../image/progress/dot_finish.jpg)}
/* 订单审核 */
table.folded tbody{display:none}
.lap-header{text-align:center}
table thead.lap-header td{height:35px;padding-bottom:5px}
.order-check-handle{padding:10px 0;font-size:16px;text-align:center}
.order-check-handle span{margin:0 10px}
.order-check-handle span:first-child{margin-left:0}
.order-check-handle span:last-child{margin-right:0}
.lap-title{display:inline-block;margin-bottom:5px}
.td-inline-lap{position:absolute;margin:5px auto;left:0;bottom:0;right:0}
.td-inline-lap-bottom{display:inline-block;bottom:-3px;width:16px;border-bottom:2px solid #333;}
/* E 数据展示E */
/* E 数据块列表展示 E */
.data-block-list{padding-bottom:30px}
.data-block-table{width:100%;background:#fff;border-radius:5px;margin-bottom:20px}
.data-block-table tr{height:40px;border-top:1px solid #ddd}
.data-block-table thead tr th{width:30%;padding-right:14px;text-align:right;color:#777}
.data-block-table tbody tr th{width:30%;padding-right:1px;text-align:right;color:#777}
.data-block-table tr.tr-oneline-two-td th:nth-child(2n+1){width:20%;padding-right:1px;text-align:right;color:#777}
.data-block-table tr.tr-oneline-two-td td:nth-child(2n){width:30%;text-align:left}
.data-block-table thead tr:first-child{border-top:none}
.data-block-table tfoot tr:first-child{border-top:none}
.data-block-table tfoot td{padding:5px 0;text-align:center}
.data-block-table tr td:nth-child(2n){text-align:left}
.data-block-td-arrow{width:20px}
/* E 数据块列表展示E */
/* 新闻列表页 */
.news-list{background:white;padding:10px;margin-bottom:40px;height:100%}
.news-list-title{font-size:20px;color:#FD6862}
.news-list-page{margin-top:15px;padding:10px 15px 10px 0;text-align:right}
.news-list-ul li{height:30px;font-size:16px;margin-top:5px;padding:10px 2px;border-bottom:1px solid #bbb;word-break:break-all;/* 按宽度截断字符换行，可去 */
	white-space:nowrap;/* 不换行 */
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/}
.news-list-page .pager .pre-page-button{background:#FD6862;padding:5px 2%;color:white;border:3px solid #FD6862}
.news-list-page .pager .netx-page-button{background:#FD6862;padding:5px 2%;color:white;border:3px solid #FD6862}
/* 用户中心默认页 */
.user-info-block{height:110px;background:#F9F9F9;margin-bottom:10px}
.user-info-field{float:left;width:73%;vertical-align:middle;padding-top:20px;padding-left:1%}
.user-info-image{float:left;width:22%;text-align:center}
.user-info-handle{float:right;width:25%;padding-top:3.5%;padding-right:1%;text-align:center}
.user-info-handle a{display:inline-block}
.user-center-avatar{display:inline-block;width:60px;height:60px;border-radius:50%;background:#cbd7df;background-repeat:no-repeat;background-size:60px;-webkit-transition:-webkit-transform 2s ease-out}
.user-center-avatar:hover{transform:rotateZ(360deg);-webkit-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg)}
.user-info-text{float:left;width:75%;padding-left:2%;font-size:16px;line-height:30px}
.money-num-span{color:#FF4141;font-weight:bold}
.button-money-charge{background:#FF4141;color:#fff}
.button-money-widthdraw{background:#40A7FF;color:#fff;font-size:14px}
.button-mini{padding:8% 13%;border-radius:5px;margin-right:2%;margin-bottom:15%}
/* 搜索页面 */
.search-input-block{padding:20px 10px}
.search-input-table{width:100%;background:#fff;border-radius:8px;font-size:16px;margin-bottom:10px}
.search-input-table tr{border-bottom:1px solid #ddd;height:50px}
.search-input-table tr:last-child{border-bottom:none}
.search-input-table tr th{width:30%;text-align:right;padding:1px}
.search-input-table tr td{width:70%;padding:8px}
.search-input-table tfoot tr td{text-align:left}
.search-input-table td.td-input-select{text-align:left;padding-right:20%}
.search-result-list-block{padding:10px 0}
.search-input-handle{text-align:center}
.search-result-list-block .result-block{background:#fff}
.result-block-ul li{margin-bottom:20px;background:#fff;cursor:pointer}
.result-block-ul li:nth-child(2n){_background:#ddd}
/* 单个结果集表 */
.result-list-table{width:100%}
.result-list-table tr td{text-align:center}
/* 单个结果中的表内表 */
.result-list-table-in-td{width:100%;background:#fff;border-radius:2px;font-size:16px;padding:5px 0}
.result-list-table-in-td tbody tr th{width:34%;padding-right:1px;text-align:right;color:#777;font-size:14px}
.result-list-table-in-td tbody tr{height:30px}
.result-list-table-in-td tr td:nth-child(2n){text-align:left}
/* 底部微信公众号样式 */
.connect-webchat{text-align:center}
span.web-chat-background-bar{display:block;height:50px;line-height:50px;background:#00CF00;font-size:18px;color:#fff}
.connect-webchat img.web-chat-digital-code{width:150px;height:150px}
/**************************************文章页面*******************************/
.article-page{background:#fff}
.article-block{}
.article-category{padding:10px 5px;border-bottom:1px solid #d22222}
.article-block .article-title{padding:10px 0;text-align:center}
.article-block .article-title .entry-title{font-size:18px}
.article-block{padding:10px}
.article-info{color:#666;padding:10px 0}
.article-info p{text-align:center;font-size:12px}
.article-info p .comment-num{color:#666}
.article-content{border-top:1px solid #d22222;padding:10px 0}
.article-content p{margin-bottom:15px;text-indent:2em;line-height:2em}
.article-tags strong a{padding:2px;border-radius:3px}
/* 文章相关操作 */
.article-handle{padding:5px 10px}
.article-vote{padding:10px;text-align:right}
.article-vote i{margin:0 3px}
.article-vote a{color:#326eb4}
.article-share-block{border-top:2px solid #6ac134}
.share-title{padding:8px 3px}
.share-title .share-title-text{font-size:16px}
/* 相关文章 */
.aritcle-relate-block{margin:10px 0}
.relate-title{font-size:17px;background:#d22222;padding:6px 10px}
.relate-title a{color:#fff}
.relate-text-ul{padding-top:12px;padding-bottom:12px;padding-left:10px;padding-right:2px}
.relate-text-ul li{height:35px;line-height:35px;_list-style:disc inside;padding-left:10px;background:url(../image/common/new_list_icon.png) left 11px no-repeat;word-break:break-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.relate-li-a{font-size:15px}
.relate-li-a-time{display:table-cell;float:right;width:20%;text-align:right}
/* 评论 */
.add-comment-block{}
.add-comment-title{font-size:17px;background:#d22222;padding:6px 10px}
.add-comment-title a{color:#fff}
.add-comment-remind{color:#888;font-size:12px;padding:6px 10px;border-bottom:5px solid #d22222}
.add-comment{margin:5px 10px;padding:3px;border:1px solid #ddd}
.comment-textarea{width:100%;line-height:24px;box-sizing:border-box;resize:none}
.comment-textarea:focus{outline:none;border:none}
.add-comment-handle{text-align:right}
.add-comment-handle .submit-button{background:#d22222;color:#fff}
/* 评论列表 */
.comment-list{margin:10px 0}
.comment-list-title a{color:#fff}
.comment-list-title{font-size:17px;background:#d22222;padding:6px 10px}
.comment-list-ul{padding:5px 10px}
.comment-list-ul li{border-top:1px #fff solid;border-bottom:1px #e7e7e7 solid;overflow:hidden}
.comment-info{color:#777;font-size:12px}
.comment-info .comment-floor .comment-floor-a{font-weight:bold;color:#666}
.comment-info .user-name-a{color:#326eb4;font-size:14px}
.comment-content{padding:5px 2px}
.comment-content p{line-height:24px;font-size:16px}
.comment-handle{float:right;padding:15px 0}
.comment-handle i{margin:0 2px}
/* 专题型单页文章页面 */
.subject-page{padding:5px 10px}
.subject-title .entry-title{font-size:18px;color:#FD6862;padding:6px 0}
/* 申请兼职页面 */
/* 兼职申请介绍页面 */
.introduce-partjober{padding:10px 0;padding-bottom:20px;text-align:center}
.bg-gray{background:#eee9ed;}
.bg-bolang{background:url(../image/introduce/bg-bolang.png);display:block;height:20px}
.introduce-title{padding:20px 0}
.introduce-title h1{font-size:28px}
.introduce-content{padding-bottom:10px}
.introduce-content p{text-indent:2em;font-size:16px;line-height:26px}
.introduce-title img,
.introduce-content img{max-width:100%;}
.introduce-text{padding:8px;text-align:left}
.introduce-number-block{margin-bottom:20px;}
.introduce-number{padding-top:40px}
.introduce-number .publicity{padding:10px 0;color:#245f88;font-weight:bold}
.introduce-num,.introduce-num strong{font-size:40px}
.introduce-num strong{padding:5px 10px;background:url(../image/introduce/bg-num.png) no-repeat;margin:0 6px}
.inline-text-half{width:50%;float:left}
.inline-img-half{float:right;width:50%;height:100%;vertical-align:middle}
.inline-img-half img{width:300px}
.introduce-handle{text-align:center;margin:20px auto}
button.join-button{display:inline-block;background:#01517f;padding:10px 20px;color:white;font-weight:bold;cursor:pointer}
/* 申请兼职资料上传页面 */
.apply-part-jober{padding:15px 14px}
table.apply-part-jober-table{width:100%}
table.apply-part-jober-table tr{height:50px}
table.apply-part-jober-table tr:last-child{border-bottom:none}
table.apply-part-jober-table tr th{text-align:right;padding:1px}
table.apply-part-jober-table tr td{width:auto;padding:8px}
.data-edit-table td.td-input-select{text-align:left;padding-right:20%}
input.input-apply{border:1px solid #01DDD1;line-height:35px}
.file-upload-block{padding:10px 0;width:264px;margin:0 auto}
.upload-field{text-align:center}
.file-upload-wrap{position:relative;height:35px;line-height:35px;margin-bottom:15px;color:#fff;font-size:15px;vertical-align:middle;background:#00a1cc;border-radius:6px}
.upload-button-text{display:block}
.upload-file-filed{cursor:pointer;position:absolute;top:0;left:0;display:inline-block;width:100%;height:100%;opacity:0}
.upload-img-preview{width:250px;border:1px solid #ddd;padding:5px;background:#fff}
.upload-title{text-align:center}
.upload-notice{text-align:center}
.notice-wrap{display:inline-block}
.upload-notice p{line-height:22px;color:#CD291D;text-indent:2em;text-align:left}
.upload-notice p:first-child{text-indent:0}
.upload-clause{padding:15px}
.upload-handle{text-align:center}
.upload-handle .apply-button{background:#FD6862;color:#fff}