<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta charset="UTF-8"/>
    <!-- responsive -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit"/>
    <meta name="author" content="Heanes heanes.com email(heanes@163.com)"/>
    <meta name="keywords" content="软件,商务,HTML,tutorials,source codes"/>
    <meta name="description" content="描述，不超过150个字符"/>
    <!-- favicon -->
    <link rel="shortcut icon" href="/public/static/image/favicon/favicon.ico"/>
    <link rel="bookmark" href="/public/static/image/favicon/favicon.ico"/>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="//ui.heanes.com/dist/css/heanesUI.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/css.css"/>
<title>全结构页面</title>
</head>
<body class="full-frame-example">
<!-- S 左侧功能区 S -->
<div class="left-bar clearfix">
    <div class="left-bar-content"></div>
</div>
<!-- E 左侧功能区 E -->
<div class="wrap">
    <!-- S header 头部 S -->
    <div class="header"></div>
    <!-- E header 头部 E-->
    <!-- S main 主要内容 S -->
    <div class="main">
        <!-- 顶部全宽度内容区域 -->
        <div class="full-width-block">
            <div class="main-top-block"></div>
        </div>
        <div class="main-width-block main-wrap">
            <!-- 顶部内容 -->
            <div class="main-top-content"></div>
            <!-- 主体内容 -->
            <div class="main-content clearfix">
                <!-- 左侧区域 -->
                <div class="left-block left-wrap fl"></div>
                <!-- 中心区域 -->
                <div class="center-block center-wrap fl">


                    东莞市虎门镇树田丰泰裕田花园29#303
                    <table style="border-collapse:collapse">
                        <tbody>
                        <tr>
                            <td style="border-top:#bfbfbf 1pt solid;border-right:#bfbfbf 1pt solid;width:16.63em;width:16.63rem;background:#f2f2f2;border-bottom:#bfbfbf 1pt solid;padding-bottom:0in;padding-top:0in;padding-left:0.54em;padding-left:0.54rem;border-left:#bfbfbf 1pt solid;padding-right:0.54em;padding-right:0.54rem">
                                <p style="text-align:center;margin:0em;margin:0rem;line-height:normal"><a target="_blank" href="http://www.ups.com/hk"><b><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"><font color="#0000ff">www.ups.com/hk</font></span></b></a><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"></span></p></td>
                            <td style="border-top:#bfbfbf 1pt solid;border-right:#bfbfbf 1pt solid;width:15.96em;width:15.96rem;background:#f2f2f2;border-bottom:#bfbfbf 1pt solid;padding-bottom:0in;padding-top:0in;padding-left:0.54em;padding-left:0.54rem;border-left:#f0f0f0;padding-right:0.54em;padding-right:0.54rem">
                                <p style="text-align:center;margin:0em;margin:0rem;line-height:normal"><b><span style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,">香港</span></b><b><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,">UPS自提点</span></b><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"></span></p></td>
                            <td style="border-top:#bfbfbf 1pt solid;border-right:#bfbfbf 1pt solid;width:15.29em;width:15.29rem;background:#f2f2f2;border-bottom:#bfbfbf 1pt solid;padding-bottom:0in;padding-top:0in;padding-left:0.54em;padding-left:0.54rem;border-left:#f0f0f0;padding-right:0.54em;padding-right:0.54rem">
                                <p style="text-align:center;margin:0em;margin:0rem;line-height:normal"><b><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,">客服电话</span></b><b><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,">:</span></b><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"></span></p>
                                <p style="text-align:center;margin:0em;margin:0rem;line-height:normal"><b><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,">+852-2735-3535</span></b><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"></span></p></td>
                        </tr>
                        <tr>
                            <td style="border-top:#f0f0f0;border-right:#bfbfbf 1pt solid;width:16.63em;width:16.63rem;border-bottom:#bfbfbf 1pt solid;padding-bottom:0in;padding-top:0in;padding-left:0.54em;padding-left:0.54rem;border-left:#bfbfbf 1pt solid;padding-right:0.54em;padding-right:0.54rem;background-color:transparent">
                                <p style="text-align:center;margin:0em;margin:0rem;line-height:normal"><span style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,">中文地址</span><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"></span></p></td>
                            <td style="border-top:#f0f0f0;border-right:#bfbfbf 1pt solid;width:15.96em;width:15.96rem;border-bottom:#bfbfbf 1pt solid;padding-bottom:0in;padding-top:0in;padding-left:0.54em;padding-left:0.54rem;border-left:#f0f0f0;padding-right:0.54em;padding-right:0.54rem;background-color:transparent">
                                <p style="text-align:center;margin:0em;margin:0rem;line-height:normal"><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,">English Address</span><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"></span></p></td>
                            <td style="border-top:#f0f0f0;border-right:#bfbfbf 1pt solid;width:15.29em;width:15.29rem;border-bottom:#bfbfbf 1pt solid;padding-bottom:0in;padding-top:0in;padding-left:0.54em;padding-left:0.54rem;border-left:#f0f0f0;padding-right:0.54em;padding-right:0.54rem;background-color:transparent">
                                <p style="text-align:center;margin:0em;margin:0rem;line-height:normal"><span style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,">取件时间</span><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"></span></p></td>
                        </tr>
                        <tr>
                            <td style="border-top:#f0f0f0;border-right:#bfbfbf 1pt solid;width:16.63em;width:16.63rem;border-bottom:#bfbfbf 1pt solid;padding-bottom:0in;padding-top:0in;padding-left:0.54em;padding-left:0.54rem;border-left:#bfbfbf 1pt solid;padding-right:0.54em;padding-right:0.54rem;background-color:transparent">
                                <p style="text-align:center;margin:0em;margin:0rem;line-height:normal"><span style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,;color:red">***推荐首选自提点***</span><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"><br>九龙长沙湾道828号<br>万利中心地下<br>（靠近荔枝角地铁站B1出口，<br>荃湾线从尖沙咀站到荔枝角站7站）</span><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"></span></p></td>
                            <td style="border-top:#f0f0f0;border-right:#bfbfbf 1pt solid;width:15.96em;width:15.96rem;border-bottom:#bfbfbf 1pt solid;padding-bottom:0in;padding-top:0in;padding-left:0.54em;padding-left:0.54rem;border-left:#f0f0f0;padding-right:0.54em;padding-right:0.54rem;background-color:transparent">
                                <p style="text-align:center;margin:0em;margin:0rem;line-height:normal"><span style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,">UPS Hold for Pick-up<br>Ground Floor, Manley Tower<br>828 Cheung Sha Wan Road<br>Kowloon</span><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"></span></p></td>
                            <td style="border-top:#f0f0f0;border-right:#bfbfbf 1pt solid;width:15.29em;width:15.29rem;border-bottom:#bfbfbf 1pt solid;padding-bottom:0in;padding-top:0in;padding-left:0.54em;padding-left:0.54rem;border-left:#f0f0f0;padding-right:0.54em;padding-right:0.54rem;background-color:transparent">
                                <p style="text-align:center;margin:0em;margin:0rem;line-height:normal"><span style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,">周一至周五</span><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"> 09:30-19:30<br>周六 09:30-18:00<br>周日及香港公共节假日不营业</span><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"></span></p></td>
                        </tr>
                        <tr>
                            <td style="border-top:#f0f0f0;border-right:#bfbfbf 1pt solid;width:16.63em;width:16.63rem;border-bottom:#bfbfbf 1pt solid;padding-bottom:0in;padding-top:0in;padding-left:0.54em;padding-left:0.54rem;border-left:#bfbfbf 1pt solid;padding-right:0.54em;padding-right:0.54rem;background-color:transparent">
                                <p style="text-align:center;margin:0em;margin:0rem;line-height:normal"><span style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,">九龙湾大业街</span><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,">59号<br>三湘九龙湾货运中心地库</span><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"></span></p></td>
                            <td style="border-top:#f0f0f0;border-right:#bfbfbf 1pt solid;width:15.96em;width:15.96rem;border-bottom:#bfbfbf 1pt solid;padding-bottom:0in;padding-top:0in;padding-left:0.54em;padding-left:0.54rem;border-left:#f0f0f0;padding-right:0.54em;padding-right:0.54rem;background-color:transparent">
                                <p style="text-align:center;margin:0em;margin:0rem;line-height:normal"><span style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,">UPS Hold for Pick-up<br>Basement, Sunshine Kowloon Bay<br>Cargo Centre, 59 Tai Yip Str.<br>Kowloon Bay</span><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"></span></p></td>
                            <td style="border-top:#f0f0f0;border-right:#bfbfbf 1pt solid;width:15.29em;width:15.29rem;border-bottom:#bfbfbf 1pt solid;padding-bottom:0in;padding-top:0in;padding-left:0.54em;padding-left:0.54rem;border-left:#f0f0f0;padding-right:0.54em;padding-right:0.54rem;background-color:transparent">
                                <p style="text-align:center;margin:0em;margin:0rem;line-height:normal"><span style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,">周一至周五</span><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"> 11:00-20:00<br>周六 11:00-19:00<br>周日及香港公共节假日不营业</span><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"></span></p></td>
                        </tr>
                        <tr>
                            <td style="border-top:#f0f0f0;border-right:#bfbfbf 1pt solid;width:16.63em;width:16.63rem;border-bottom:#bfbfbf 1pt solid;padding-bottom:0in;padding-top:0in;padding-left:0.54em;padding-left:0.54rem;border-left:#bfbfbf 1pt solid;padding-right:0.54em;padding-right:0.54rem;background-color:transparent">
                                <p style="text-align:center;margin:0em;margin:0rem;line-height:normal"><span style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,">九龙马头围道</span><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,">39号<br>红磡商业中心A座11楼1105-1106室</span><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"></span></p></td>
                            <td style="border-top:#f0f0f0;border-right:#bfbfbf 1pt solid;width:15.96em;width:15.96rem;border-bottom:#bfbfbf 1pt solid;padding-bottom:0in;padding-top:0in;padding-left:0.54em;padding-left:0.54rem;border-left:#f0f0f0;padding-right:0.54em;padding-right:0.54rem;background-color:transparent">
                                <p style="text-align:center;margin:0em;margin:0rem;line-height:normal"><span style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,">UPS HFPU/Hung Hom Comm.Ctr.<br>Unit 1105-1106, 11/F, Tower A<br>39 Ma Tau Wai Road,</span>
                                </p>
                                <p style="text-align:center;margin:0em;margin:0rem;line-height:normal"><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,">Hung Hom, Kowloon</span><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"></span></p></td>
                            <td style="border-top:#f0f0f0;border-right:#bfbfbf 1pt solid;width:15.29em;width:15.29rem;border-bottom:#bfbfbf 1pt solid;padding-bottom:0in;padding-top:0in;padding-left:0.54em;padding-left:0.54rem;border-left:#f0f0f0;padding-right:0.54em;padding-right:0.54rem;background-color:transparent">
                                <p style="text-align:center;margin:0em;margin:0rem;line-height:normal"><span style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,">周一至周五</span><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"> 09:00-18:00<br>周六 09:00-13:30<br>周日及香港公共节假日不营业</span><span
                                        style="font-size:1em;font-size:1rem;font-family:'microsoft jhenghei' ,"></span></p></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 右侧区域 -->
                <div class="right-block right-wrap fl"></div>
            </div>
            <!-- 底部区域 -->
            <div class="main-bottom-content"></div>
        </div>
        <div class="full-width-block">
            <!-- 底部全宽度内容区域 -->
            <div class="main-bottom-block"></div>
        </div>
    </div>
    <!-- E main 主要内容 E -->
    <!-- S footer 脚部 S -->
    <div class="footer"></div>
    <!-- E footer 脚部 E -->
</div>
<!-- S 右侧功能区 S -->
<div class="right-bar clearfix">
    <div class="right-bar-content"></div>
</div>
<!-- E 右侧功能区 E -->
<cite>
    <!-- S js S -->
    <script type="text/javascript" src="/public/static/libs/js/jquery/2.1.4/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript">
        $(function () {
            ;
        });
    </script>
    <!-- E js E -->
</cite>
</body>
</html>