<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta charset="UTF-8"/>
<!-- responsive -->
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/><!-- 让IE8在新模式下渲染（禁止兼容模式） -->
<meta name="renderer" content="webkit"/><!-- 让360等多核模式浏览器默认用极速模式打开 -->
<meta name="author" content="Heanes heanes.com email(heanes@163.com)"/>
<meta name="keywords" content="软件,商务,HTML,tutorials,source codes"/>
<meta name="description" content="描述，不超过150个字符"/>
<!-- Favicon -->
<link rel="shortcut icon" href="/public/static/image/favicon/favicon.ico"/>
<link rel="bookmark" href="/public/static/image/favicon/favicon.ico"/>
<!-- style -->
<link rel="stylesheet" type="text/css" href="/public/static/libs/css/reset/reset.css"/>
<link rel="stylesheet" type="text/css" href="/public/static/libs/css/base/base.css"/>
<link rel="stylesheet" type="text/css" href="/public/static/libs/fonts/font-awesome/4.5.0/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="../css/style/style-2016.css"/>
<link rel="stylesheet" type="text/css" href="../css/common.css"/>
<link rel="stylesheet" type="text/css" href="../css/css.css"/>
<title>头部</title>
</head>
<body>
<div class="center wrap clearfix">
    <!-- S 头部 S -->
    <div class="header">
        <!-- 顶部操作/导航/工具栏 -->
        <div class="top-toolbar">
            <div class="main-wrap clearfix relative">
                <div class="top-menu"></div>
                <!-- 顶部右侧工具栏 -->
                <div class="top-handle-block">
                    <div class="handle-block hover-change-block font-setting">
                        <div class="handle-content front">
                            <a class="handle handle-icon">字体设置</a>
                        </div>
                        <div class="handle-content backend">
                            <span class="text-songti" id="textSongti">宋体</span>
                            <span class="test-yahei" id="textYahei">微软雅黑</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 顶部导航栏 -->
        <div class="header-nav-bar" id="headerNavBar">
            <div class="main-wrap clearfix">
                <!-- 头部logo区域 -->
                <div class="header-logo">
                    <a href="../article/list.html" class="logo-a">
                        <img src="../image/common/logo.png">
                    </a>
                </div>
                <!-- 头部导航菜单区域 -->
                <div class="header-nav">
                    <ul class="nav">
                        <li>
                            <a href="../article/list.html" class="nav-a current"><i class="fa fa-home icon-nav icon-web-home"></i><span>首页</span></a>
                        </li>
                        <li>
                            <a href="../article/list.html" class="nav-a">
                                <i class="fa fa-modx icon-nav icon-great"></i>
                                <span>精选推荐</span>
                            </a>
                            <ul class="nav second">
                                <li>
                                    <a href="../article/list.html" class="nav-a">
                                        <i class="fa fa-home icon-nav icon-web-home"></i>
                                        <span>子菜单</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="../article/list.html" class="nav-a">
                                        <i class="fa fa-home icon-nav icon-web-home"></i>
                                        <span>子菜单长长长长的</span>
                                    </a>
                                    <ul class="nav">
                                        <li>
                                            <a href="../article/list.html" class="nav-a">
                                                <i class="fa fa-home icon-nav icon-web-home"></i>
                                                <span>三级子菜单</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="../article/list.html" class="nav-a">
                                                <i class="fa fa-home icon-nav icon-web-home"></i>
                                                <span>三级子菜单长长长长的</span>
                                            </a><ul class="nav">
                                        <li>
                                            <a href="../article/list.html" class="nav-a">
                                                <i class="fa fa-home icon-nav icon-web-home"></i>
                                                <span>四级子菜单</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="../article/list.html" class="nav-a">
                                                <i class="fa fa-home icon-nav icon-web-home"></i>
                                                <span>四级子菜单长长长长的</span>
                                            </a>
                                        </li>
                                    </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="../article/list.html" class="nav-a">
                                <i class="fa fa-hashtag icon-nav icon-technique"></i>
                                <span>技术专题</span>
                            </a>
                        </li>
                        <li>
                            <a href="../article/list.html" class="nav-a">
                                <i class="fa fa-edit icon-nav icon-write"></i>
                                <span>文字专栏</span>
                            </a>
                        </li>
                        <li>
                            <a href="../article/list.html" class="nav-a">
                                <i class="fa fa-diamond icon-nav icon-self-work"></i>
                                <span>原创作品</span>
                            </a>
                        </li>
                        <li>
                            <a href="../article/list.html" class="nav-a">
                                <i class="fa fa-info-circle icon-nav icon-about"></i>
                                <span>关于博客</span>
                            </a>
                        </li>
                        <li>
                            <a href="../article/list.html" class="nav-a">
                                <i class="fa fa-github icon-nav icon-github"></i>
                                <span>GitHub</span>
                            </a>
                        </li>
                        <li>
                            <a href="../article/list.html" class="nav-a nav-login">
                                <i class="fa fa-user icon-nav icon-login"></i>
                                <span>登录</span>
                            </a>
                        </li>
                        <li>
                            <a href="../article/list.html" class="nav-a">
                                <i class="fa fa-user-plus icon-nav icon-register"></i>
                                <span>注册</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- 搜索区域 -->
                <div class="header-search">
                    <input type="text" class="search-input" placeholder="搜索一下，什么都木有~" >
                    <a href="../article/list.html" class="search-a-submit"><i class="icon-search fa fa-search"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- E 头部 E-->
</div>
<cite>
    <!-- S js S -->
    <script type="text/javascript" src="/public/static/libs/js/jquery/2.1.4/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/public/static/libs/js/jquery.cookie/1.4.1/jquery.cookie.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript" src="../js/js.js"></script>
    <!-- E js E -->
</cite>
</body>
</html>