@CHARSET "UTF-8";/**
 * @doc 公共样式
 * @copyright heanes.com
 * @author Heanes
 * @time 2015-05-13 15:11:15
 */

/* 部分快速单一样式 */
.center{margin:0 auto}
.left{text-align:left}
.right{text-align:right}
.text-center{text-align:center}
.text-left{text-align:left}
.text-right{text-align:right}
.fix{position:fixed;z-index:100}
.clear{clear:both;content:" ";display:block}
.clear-left{clear:left;content:" ";display:block}
.clear-right{clear:right;content:" ";display:block}
.wrap{width:100%;margin:0 auto}
.main,.footer{margin:0 auto;padding:0}
div.blank{display:block;height:1px}

/* 公共样式 */
.w-wrap{max-width:1000px;margin:0 auto;}
.cell{display:table-cell;}
/* 顶部导航栏 */
.header-nav-block{display:table;width:100%;background-color:#fff;}
.common-logo{width:60px;padding-left:40px;}
.common-nav{text-align:right;padding-right:60px;}
.common-nav-ul{display:block;}
.common-nav-ul li{display:inline-block;height:80px;line-height:80px;text-align:center;vertical-align:middle;box-sizing: border-box;}
.common-nav-ul li a{display:block;min-width:124px;}
.common-nav-ul1 li:hover{background-color:#B53E3E;color:#fff;}
.common-nav-ul li:hover{background-color:#EAC027;color:#fff;}
.common-nav-ul li:hover a{font-size:32px;color:#fff;}

