@CHARSET "UTF-8";
/**
 * @doc 大部分样式
 * @copyright heanes.com
 * @author Heanes
 * @time 2015-04-08 17:34:33
 */
body.start{background-color:#ecf0f5;}
.main-content .center-block.right-content{padding:20px;}

.box-normal{box-shadow:0 0 2px 2px rgba(225,225,225,0.5);border-radius:4px;}
/**
 * @doc 欢迎页面
 * @author Heanes
 * @time 2016-08-17 17:46:53 周三
 */
.report-count-block{font-size:0;margin:20px 10px;}
.report-count-block .report-count-one{display:inline-table;min-height:90px;vertical-align:top;font-size:14px;background-color:#fff;margin-right:20px;margin-bottom:20px;}
.report-count-block .report-count-one .report-icon-field,
.report-count-block .report-count-one .report-content{display:table-cell;vertical-align:middle;}
.report-count-block .report-count-one .report-icon-field{width:60px;text-align:center}
.report-count-block .report-count-one .report-icon-field.article{background-color:#00a65a;}
.report-count-block .report-count-one .report-icon-field.comment{background-color:#00c0ef;}
.report-count-block .report-count-one .report-icon-field.member{background-color:#f39c12;}
.report-count-block .report-count-one .report-icon-field.visitor{background-color:#2ec7c9;}
.report-count-block .report-count-one .report-icon-field .report-icon{font-size:28px;line-height:60px;color:#fff;}
.report-count-block .report-count-one .report-content{margin-right:10px;vertical-align:top;min-width:180px;}
.report-count-block .report-count-one .report-content .report{display:block;line-height:18px;color:#555;margin:0 10px;}
.report-count-block .report-count-one .report-content .report.main{font-size:17px;line-height:30px;margin:8px 10px 4px;}
.report-count-block .report-count-one .report-content .report dt,
.report-count-block .report-count-one .report-content .report dd{display:inline-block;}
.report-count-block .report-count-one .report-content .report .value{font-weight:600;color:#000;margin-right:5px;}
.report-count-block .report-count-one .report-content .report .title{font-weight:300;text-align:right;}

.report-chart-block{_max-width:900px;}
.report-chart-block .report-chart{border-top:4px solid #ddd;background-color:#fff;margin:10px;font-size:0;}
.report-chart-block .report-chart .content-block .count-report{display:inline-block;width:70%;height:400px;margin-right:4%;}
.report-chart-block .report-chart .content-block .count-report:last-child{padding-right:0;margin-right:0;}
.report-chart-block .report-chart .content-block .count-report.count-browser{width:26%;}

/**
 *
 * @dod数据列表页面
 * @author Heanes
 * @time 2016-09-06 11:53:56 周二
 */
/* 查询表单 */
.search-form{position:relative;margin-bottom:20px;background-color:#f5f5f5;}
.search-form.bg-normal{background-color:#f5f5f5;border:1px solid #ddd;}
.search-form.bg-normal form{padding:20px;}
.search-form .input-block,
.search-form .form-handle{display:table-cell;}
.search-form .line-group{margin-bottom:20px;}
.search-form .line-group.last,
.search-form .line-group:last-child{margin-bottom:0;}
.search-form .line-group .control-label{min-width:84px;text-align:right;}
.search-form .line-group .control-label.text-center{text-align:center;}
.search-form .line-group .form-control{min-width:140px;}
.search-form .form-handle{vertical-align:middle;padding:0 50px 0;}
.search-form .form-handle .handle-inline{display:inline-block;vertical-align:bottom;margin-right:20px;}
.search-form .form-handle .handle-inline:last-child{margin-right:0;}
.search-form .form-handle .handle-inline input[type="reset"],
.search-form .form-handle .handle-inline button[type="reset"]{margin-left:40px;}

/* 全局消息 @time 2016-09-08 18:36:48 周四 */
.global-message{margin:20px 0;}

/* 数据列表统计区域 @time 2016-09-08 18:36:38 周四 */

/* 数据操作区域 @time 2016-09-08 19:15:09 周四 */
.date-handle{display:table;width:100%;}
.date-handle .table-cell{display:table-cell}
.date-handle .handle-right{text-align:right;}


/* 数据列表 */
.data-list{margin:20px 0;}
.data-list .table{margin-bottom:0;}
.data-list .bg-normal{background-color:#ddd;}
.data-list .op-btn{}
.data-list .op-btn .op-icon{position:inherit;margin-right:2px;}
.data-list .op-btn .btn-text{display:inline-block;}
.data-list .op-btn .op-icon,
.data-list .op-btn .btn-text{vertical-align:middle;}
