@CHARSET "UTF-8";
/**
 * @doc 布局样式
 * @copyright heanes.com
 * @author Heanes
 * @time 2015-04-08 17:34:33
 */
body{
	height:100%;
}

/* 全局块 */
.main{
}

.admin-layout-table{
	width:100%;
	height:100%;
}
.admin-layout-table tbody tr:first-child td:first-child{
	width:200px;
	height:70px;
}
.admin-layout-table tbody tr:first-child td{
	border-right:1px solid #38c4ca;
}
.admin-layout-table tbody tr:first-child td:last-child{
	width:350px;
	background:#a6c7ff;
	border-right:none;
}
.admin-layout-table tbody tr:nth-child(2){
	border-top:1px solid #38c4ca;
}

.admin-logo{
	width:150px;
}

/* 顶部导航样式 */
.admin-header-top{
	height:70px;
	_background-color:#95cff2;
	border-bottom:1px solid #38c4ca;
}
.admin-header-top div{
	float:left;
	border-right:1px solid #38c4ca;
}

.admin-header-top .top-admin-logo{
	display:inline-block;
	height:100%;
	width:150px;
	background:#eee;
}

.admin-header-top .top-admin-logo .admin-logo{
	width:120px;
	height:45px;
}

/* S 顶部菜单 S */
.top-admin-nav{
	height:100%;
	background:rgba(70, 238, 51, 0.36);
}

.top-admin-nav .admin-nav-list{
	height:35px;
	line-height:35px;
	background-color:#59b8c0;
	margin-top:13px;
}

.top-admin-nav .admin-nav-list .nav-ul{
	font-size:15px;
}

.top-admin-nav .admin-nav-list .nav-ul li{
	display:inline-block;
	cursor:pointer;
	padding:5px 10px;
	border:1px solid #59b8c0
}

.top-admin-nav .admin-nav-list .nav-ul li:hover{
	color:white;
	background-color:#61d5df;
	border:1px solid #61d5df;
}

.top-admin-nav .nav-location{
	margin:5px 0 0 10px;
	background:#036;
}

.admin-header-top .top-admin-tools{
	display:inline-block;
	width:300px;
	height:100%;
	background:#fcca32;
}

/* E 顶部菜单 E */
/* S 左侧菜单 S */
.admin-main-left{
	width:150px;
	height:100%;
	background-color:#edf3f7;
	padding:10px 0;
	border-right:1px solid #38c4ca;
}

.left-admin-menu{
	width:auto;
	background-color:white;
}

.left-admin-menu dl.menu,
.left-admin-menu dl.menu_hide{
	display:block;
	padding:0 5px;
	cursor:pointer;
	margin-bottom:3px;
}

.left-admin-menu dl.menu dt,
.left-admin-menu dl.menu_hide dt{
	background-color:#00860c;
	padding:5px;
	color:white;
	font-size:14px;
	font-weight:bold;
}

.left-admin-menu dl.menu dt{
	background:url(../image/menu/vh.gif) no-repeat 95% -45px #00860c;
}

.left-admin-menu dl.menu_hide dt{
	background:url(../image/menu/vh.gif) no-repeat 95% 10px #7b9870;
}

.left-admin-menu dl.menu dt:hover,
.left-admin-menu dl.menu_hide dt:hover{
	background-color:#06bd3e;
	color:white;
}

.left-admin-menu dl.menu dd{
	display:block;
	padding:8px 15px;
	margin:2px 0;
}

.left-admin-menu dl.menu dd:hover{
	background-color:#63cfe8;
	color:#b01414;
}

.left-admin-menu dl.menu_hide dd{
	display:none;
}

/* E 左侧菜单 E */

/* S 右侧内容部分 S */
.admin-main-right{
	width:100%;
	height:100%;
}

.admin-main-right .right-content{
	width:100%;
	height:100%;
}


/* E 右侧内容部分 E */