@charset "UTF-8";
/**
 * @doc 前台公共样式
 * @author Heanes
 * @time 2015-11-21 22:11:30
 */
/* 常用及简写样式 */
.fixed{position:fixed;z-index:100;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clear{clear:both;content:" ";display:block;}
.clear-left{clear:left;content:" ";display:block;}
.clear-right{clear:right;content:" ";display:block;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.for-eye-protect{background:#e3edcd;}
.none{display:none}
.relative{position:relative}
.main-wrap{
    width:1100px;
}
/* 通用命名下的样式 */
.wrap{width:100%;}
.wrap,
.main-wrap,
.header,
.main,
.footer,
.center-wrap,
.left-wrap,
.right-wrap{margin:0 auto;}
[class*="-wrap"]{margin:0 auto;}
.float-block{float:left;}
/* S 头部 S */
.header{
    background-color:#f4f4f4;
    border-bottom:1px solid #E8E8E8;
    box-shadow:0 2px 10px rgba(217,224,247,0.56);
    margin-bottom:16px;
}
/* 顶部工具栏 */
.top-toolbar{
    background:#f4f4f4;
    border-bottom:1px solid #E8E8E8;
    -webkit-box-shadow:0 3px 6px rgba(0,0,0,.3);
    -moz-box-shadow:0 3px 6px rgba(0,0,0,.3);
    box-shadow:0 3px 6px rgba(0,0,0,.3);
}

.top-toolbar .top-menu{height:44px;line-height:44px;}
.top-toolbar .top-menu .left-block{float:left;padding-left:20px;}
.top-toolbar .top-menu .right-block{float:right;}
.top-toolbar .top-menu .right-block .link-nav{padding-right:30px;}
.top-toolbar .top-menu .right-block .link-nav{}
.top-toolbar .top-menu .right-block .link-nav a{padding:0 10px;display:inline-block;}
.top-toolbar .top-menu .right-block .link-nav a:hover{background-color:#efeaf4 }

/* E 头部 E */
/* S 中间主体 S */
.main-top-block{
    height:300px;
    background:#fff;
    margin-bottom:12px;
}
.main-top-content{
    height:300px;
    background:#fff;
    margin-bottom:12px;
}

/* 中心主体内容 */
.main-content{margin-bottom:12px;background-color:#fff}
.center-wrap{}
.center-block{background:#fff;}
.center-block{}

.main-content .center-block{}
/* banner */
.index-banner{}
.index-banner image{width:100%;}
/* 宣传 */
.index-publicity{}
.index-publicity .publicity-one{margin-bottom:100px;}
.index-publicity .publicity-one .title{text-align:center;margin-bottom:20px;}
.index-publicity .publicity-one .title .title-icon{height:80px;display:none;}
.index-publicity .publicity-one .title .title-icon .left-line,
.index-publicity .publicity-one .title .title-icon .right-line{display:inline-block;width:210px;height:14px;vertical-align:middle;font-size:0;}
.index-publicity .publicity-one .title .title-icon .left-line{background:url("../image/index/bg/left-line.png") no-repeat;margin-right:50px;}
.index-publicity .publicity-one .title .title-icon .right-line{background:url("../image/index/bg/right-line.png") no-repeat;margin-left:50px;}
.index-publicity .publicity-one .title .title-icon .center-text{display:inline-block;text-align:center;}
.index-publicity .publicity-one .title .title-icon .center-text .icon-text{display:inline-block;width:54px;height:54px;line-height:54px;border-radius:50%;color:#fff;background-color:#e44f1b;font-size:28px;}
.index-publicity .publicity-one .title .title-icon .center-text .center-icon{display:inline-block;}
.index-publicity .publicity-one .title .title-icon .center-text .center-icon.circle{border-radius:50%;border:30px solid #e44f1b;font-size:24px;}
.index-publicity .publicity-one .title .title-icon .center-text .center-icon.triangle{width:0;height:0;border-top:22px solid #e44f1b;border-left:22px solid #fff;border-right:22px solid #fff;}
.index-publicity .publicity-one .title .title-icon .center-text .center-icon.triangle.offset{margin-left:-53px;margin-bottom:-27px;}

.index-publicity .publicity-one .title-text{}
.index-publicity .publicity-one .title-text h2{font-weight:300;font-size:28px;}
.index-publicity .publicity-one .title-text h2.chinese{}
.index-publicity .publicity-one .title-text h2.english{ font-family:'Arial Normal', 'Arial', serif;}
.index-publicity .publicity-one .title-text h2.english,
.index-publicity .publicity-one .title-text h2.english a{color:#ff9d13}

.index-publicity .publicity-one .content{}
/* 中企金服 */
.index-publicity .publicity-one .content .web-introduce{margin:0 auto;}
.index-publicity .publicity-one .content .web-introduce{width:600px;margin:0 auto;}
.index-publicity .publicity-one .content .web-introduce h2{font-weight:300;font-size:28px;margin-bottom:20px;}
/* 我们的优势 */
.index-publicity .publicity-one .content .advantage{margin:0 auto;}
.index-publicity .publicity-one .content .advantage ul.honeycomb{width:1000px;margin:0 auto;}
.index-publicity .publicity-one .content .advantage ul.honeycomb li{display:inline-block;vertical-align:top;margin-right:14px;}
.index-publicity .publicity-one .content .advantage ul.honeycomb li .honeycomb-one{width:180px;height:260px;background-repeat:no-repeat;background-size:100% 100%;padding:16px;overflow:hidden;text-overflow:clip;}
.index-publicity .publicity-one .content .advantage ul.honeycomb li .honeycomb-one.odd{background-image:url("../image/index/border/border-honeycomb-white.png");margin-top:14px;}
.index-publicity .publicity-one .content .advantage ul.honeycomb li .honeycomb-one.even{background-image:url("../image/index/border/border-honeycomb-brown.png");color:#fff;}
/* 我们的服务 */
.index-publicity .publicity-one .content .service{width:800px;margin:0 auto;}
.index-publicity .publicity-one .content .service ul.index-icon-block{}
.index-publicity .publicity-one .content .service ul.index-icon-block.first{margin-left:100px;}
.index-publicity .publicity-one .content .service ul.index-icon-block.second{}
.index-publicity .publicity-one .content .service ul.index-icon-block li{display:inline-block;width:136px;margin:0 auto;padding:14px;cursor:pointer;}
.index-publicity .publicity-one .content .service ul.index-icon-block li h3{width:108px;height:108px;background-color:rgba(0,0,0,.0);font-weight:300;font-size:18px;line-height:112px;text-align:center;color:#fff;border-radius:50%;visibility:hidden;}
.index-publicity .publicity-one .content .service ul.index-icon-block li:hover h3{background-color:rgba(0,0,0,.7);visibility:visible;}
.index-publicity .publicity-one .content .service ul.index-icon-block li .icon{width:108px;height:108px;background-size:cover;background-repeat:no-repeat;}
.index-publicity .publicity-one .content .service ul.index-icon-block li .start{background-image:url("../image/common/icon/icon_01.png");}
.index-publicity .publicity-one .content .service ul.index-icon-block li .product{background-image:url("../image/common/icon/icon_02.png");}
.index-publicity .publicity-one .content .service ul.index-icon-block li .technique{background-image:url("../image/common/icon/icon_03.png");}
.index-publicity .publicity-one .content .service ul.index-icon-block li .brand{background-image:url("../image/common/icon/icon_04.png");}
.index-publicity .publicity-one .content .service ul.index-icon-block li .marketing{background-image:url("../image/common/icon/icon_05.png");}
.index-publicity .publicity-one .content .service ul.index-icon-block li .run{background-image:url("../image/common/icon/icon_06.png");}
.index-publicity .publicity-one .content .service ul.index-icon-block li .train{background-image:url("../image/common/icon/icon_07.png");}
.index-publicity .publicity-one .content .service ul.index-icon-block li .resource{background-image:url("../image/common/icon/icon_08.png");}
/* 我们的价值 */
.index-publicity .publicity-one .content .value{width:900px;margin:0 auto;}
.index-publicity .publicity-one .content .value h2{font-weight:300;font-size:28px;margin-bottom:20px;line-height:60px;}
/* 我们的产品 */
.index-publicity .publicity-one .content .product{}
.index-publicity .publicity-one .content .product .product-list{text-align:center;}
.index-publicity .publicity-one .content .product .product-list.even{margin-top:-42px;}
.index-publicity .publicity-one .content .product .product-list li{display:inline-block}
.index-publicity .publicity-one .content .product .product-list li .product{width:170px;height:170px;background:url("../image/index/border/border-rhombus.png") no-repeat;background-size:100%;margin-right:10px;}
.index-publicity .publicity-one .content .product .product-list li .product h3{font-weight:300;font-size:15px;line-height:170px;}
/* 资讯 */
.index-publicity .publicity-one .content .news{}
.index-publicity .publicity-one .content .news .news-list{border:1px solid #ccc;border-top:6px solid #ff9d13;}
.index-publicity .publicity-one .content .news .news-list .list-title{height:60px;line-height:60px;}
.index-publicity .publicity-one .content .news .news-list .list-title h3{font-weight:300;font-size:22px;padding-left:20px;}
.index-publicity .publicity-one .content .news .list-content{}
.index-publicity .publicity-one .content .news .list-content .list-ul{width:366px;float:left;}
.index-publicity .publicity-one .content .news .list-content .list-ul{border-right:1px solid #bbb;}
.index-publicity .publicity-one .content .news .list-content .list-ul.last{border-right:none;}
.index-publicity .publicity-one .content .news .list-content .list-ul li{padding:10px;border-top:1px solid #bbb;}
.index-publicity .publicity-one .content .news .list-content .list-ul li .list-row{height:24px;}
.index-publicity .publicity-one .content .news .list-content .list-ul li .list-row .article-title{display:inline-block;width:254px;font-weight:300;line-height:24px;}
.index-publicity .publicity-one .content .news .list-content .list-ul li .list-row .article-date{color:#3fbcfc;line-height:24px;}
.index-publicity .publicity-one .content .news .list-content .list-ul .list-row.first-with-image-cover{height:90px;}
.index-publicity .publicity-one .content .news .list-content .list-ul .list-row .image-cover{display:inline-block;width:100px;height:90px;}
.index-publicity .publicity-one .content .news .list-content .list-ul .list-row .image-cover img{width:100%;height:100%;}
.index-publicity .publicity-one .content .news .list-content .list-ul .list-row .text{display:inline-block;width:218px;vertical-align:top;padding:6px;}
.index-publicity .publicity-one .content .news .list-content .list-ul .list-row .text .article-title{margin-bottom:10px;}
/* 关于我们 */
.index-publicity .publicity-one .content .about-us{}
.index-publicity .publicity-one .content .about-us{width:800px;margin:0 auto;}
.index-publicity .publicity-one .content .about-us p{line-height:30px;font-size:16px;text-indent:2em;}
/* 联系我们与加盟申请 */
.index-publicity .publicity-one .content .apply-and-join-in{width:1099px;height:642px;margin:50px 0 0;background:url("../image/index/bg/bg-apply.png") no-repeat;background-size:contain;padding-top:180px;}
.index-publicity .publicity-one .content .apply-and-join-in .contact-us,
.index-publicity .publicity-one .content .apply-and-join-in .message-block{float:left;width:50%;color:#fff;font-size:18px;}
.index-publicity .publicity-one .content .apply-and-join-in .contact-us{padding:0 50px;line-height:24px;}
.index-publicity .publicity-one .content .apply-and-join-in .contact-us dl{width:430px;margin-bottom:36px;display:list-item;list-style:disc;}
.index-publicity .publicity-one .content .apply-and-join-in .contact-us dl dt,
.index-publicity .publicity-one .content .apply-and-join-in .contact-us dl dd{display:inline-block;vertical-align:middle;}
.index-publicity .publicity-one .content .apply-and-join-in .contact-us dl dt{width:auto;text-align:right;margin-right:10px;vertical-align:top;}
.index-publicity .publicity-one .content .apply-and-join-in .contact-us dl dd{width:320px;}
.index-publicity .publicity-one .content .apply-and-join-in .contact-us dl dd a{color:inherit;}
.index-publicity .publicity-one .content .apply-and-join-in .message-block{padding-left:120px;line-height:44px;}
.index-publicity .publicity-one .content .apply-and-join-in .message-block .input-group{margin-bottom:10px;}
.index-publicity .publicity-one .content .apply-and-join-in .message-block .input-group.tight{margin-bottom:0;}
.index-publicity .publicity-one .content .apply-and-join-in .message-block .input-group label{vertical-align:top;}
.index-publicity .publicity-one .content .apply-and-join-in .message-block .input-group .input-normal{height:36px;width:280px;border:0;}
.index-publicity .publicity-one .content .apply-and-join-in .message-block .input-group input[type="text"].input-normal{padding-left:8px;padding-right:8px;}
.index-publicity .publicity-one .content .apply-and-join-in .message-block .input-group select.input-normal{width:auto;min-width:100px;}
.index-publicity .publicity-one .content .apply-and-join-in .message-block .input-group textarea.input-normal{width:inherit;height:inherit;}
.index-publicity .publicity-one .content .apply-and-join-in .message-block .input-group textarea.textarea{width:280px;height:112px;padding:6px;}
.index-publicity .publicity-one .content .apply-and-join-in .message-block .message-form .form-handle{}
.index-publicity .publicity-one .content .apply-and-join-in .message-block .message-form .form-handle .handle-row{}
.index-publicity .publicity-one .content .apply-and-join-in .message-block .message-form .form-handle .handle-row.submit{padding-left:58px;}
.index-publicity .publicity-one .content .apply-and-join-in .message-block .message-form .form-handle .handle-row .submit-button{width:160px;height:40px;background-color:#b55024;color:#fff;font-weight:600;border:2px solid #fb7e4d;}
.index-publicity .publicity-one .content .apply-and-join-in .message-block .message-form .form-handle .handle-row .submit-button:hover{background-color:#3b675b;}
/* 加盟申请步骤 */
.index-publicity .publicity-one .content .apply-and-join{}
.index-publicity .publicity-one .content .apply-and-join .process-list{}
.index-publicity .publicity-one .content .apply-and-join .process-list .process-row{float:left;width:140px;height:140px;border-radius:50%;background-color:#ff9d13;padding:40px 10px;text-align:center;color:#fff;margin:0 30px;}
.index-publicity .publicity-one .content .apply-and-join .process-list .process-row h3{font-size:18px;line-height:30px;}
.index-publicity .publicity-one .content .apply-and-join .process-list .process-row h3.chinese{border-bottom:1px dashed #fff;padding-bottom:4px;}
.index-publicity .publicity-one .content .apply-and-join .process-list .process-next-icon{display:inline-block;float:left;width:0;height:0;border-top:10px solid transparent;border-left:20px solid #aaa;border-bottom:10px solid transparent;vertical-align:middle;margin-top:64px;}


.bottom-fixed{position:fixed;left:0;bottom:0;width:100%;background-color:#ff9600;}
.bottom-fixed .apply-banner{width:1000px;margin:0 auto;height:62px;background-color:#ff9600;color:#fff;}
.bottom-fixed .apply-banner .dynamic-news{display:inline-block;line-height:62px;}
.bottom-fixed .apply-banner .dynamic-news a{color:#fff;}
.bottom-fixed .apply-banner .dynamic-news .article-category{font-style:italic;font-weight:600;}

.bottom-fixed-placeholder{height:62px;width:100%;}

.bottom-fixed .apply-banner .apply-now{display:inline-block;float:right;line-height:62px;height:62px;vertical-align:top;margin-right:60px;}
.bottom-fixed .apply-banner .apply-now .apply-number{font-size:34px;}
.bottom-fixed .apply-banner .apply-now .apply-number-unit{font-size:18px;margin-right:30px;}
.bottom-fixed .apply-banner .apply-now .apply-now-btn{display:inline-block;width:190px;height:62px;line-height:62px;background-color:#fd6f3d;text-align:center;vertical-align:top;color:#fff;font-size:24px;font-weight:600;padding:0 14px;}

.right-fix-block .right-corner{position:fixed;left:50%;bottom:10px;margin-left:600px;}
.right-fix-block .right-corner .handle-block{width:60px;height:60px;margin-bottom:3px}
.right-fix-block .right-corner .handle-block .handle-content.front{position:absolute;width:100%;height:100%;z-index:3;}
.right-fix-block .right-corner .handle-block .handle-content.front:hover{z-index:1;}
.right-fix-block .right-corner .handle-block .handle-content.backend{position:absolute;width:100%;height:100%;z-index:2;}
.right-fix-block .right-corner .handle-block .handle-content.backend:hover{z-index:4;}
.right-fix-block .right-corner .handle-block.relative{position:relative}
.right-fix-block .right-corner .handle-block .handle{width:60px;height:60px;line-height:60px;display:block;}
.right-fix-block .right-corner .handle-block .handle.handle-icon{background-color:rgba(133,194,242,.72);color:#fff;text-align:center;cursor:pointer}
.right-fix-block .right-corner .handle-block .handle.handle-icon:hover{background-color:#2d96e9}
.right-fix-block .right-corner .handle-block .front .handle.handle-icon{background-color:rgba(133,194,242,1);}
.right-fix-block .right-corner .handle-block .handle.handle-icon i{font-size:40px;display:block;height:60px;padding-top:11px;}
.right-fix-block .right-corner .handle-block .go-to-top{}
.right-fix-block .right-corner .handle-block .go-to-top:hover{}
.right-fix-block .right-corner .handle-block .refresh{}
.right-fix-block .right-corner .handle-block .refresh:hover{}
.right-fix-block .right-corner .handle-block .go-to-home{}
.right-fix-block .right-corner .handle-block .go-to-home:hover{}
.right-fix-block .right-corner .handle-block .qr-code{}
.right-fix-block .right-corner .handle-block .qr-code:hover{}
.right-fix-block .right-corner .handle-block.hover-change-block{position:relative;}
.right-fix-block .right-corner .handle-block.hover-change-block:hover .hover-change-content{display:block;}
.right-fix-block .right-corner .handle-block.hover-change-block .hover-change-content{display:none;position:absolute;top:-50%;}
.right-fix-block .right-corner .handle-block .qr-code-content{right:60px}

.right-fix-block .right-corner .handle-block.decorate-cat{margin-top:30px;}
.right-fix-block .right-corner .handle-block.decorate-cat .handle-content{padding-left:20px;padding-top:23px;}

/* E 中间主体 E */
/* S 脚部 S */
.footer{}
.footer-wrap{width:100%;}
.footer-content{background:#686b6c;}

.footer-content .footer-website-logo{float:left;width:120px;padding:20px 0;text-align:center}
.footer-content .footer-website-logo .footer-website-home-link{display:block;}
.footer-content .footer-website-logo .footer-website-home-link img{max-width:120px;}
.footer-content .add-link{float:left;padding-left:50px;}
.footer-content .add-link-ul{}
.footer-content .add-link-ul>li{display:inline-block;width:150px;padding:20px 0}
.footer-content .add-link-ul li:hover{}
.footer-content .add-link-ul li h3.link-category{font-size:14px;height:26px;color:#8c8c8c;padding-left:10px}
.footer-content .add-link-ul .link-list-ul li{padding-left:10px;height:30px;line-height:30px;overflow:hidden;}
.footer-content .add-link-ul .link-list-ul a{color:#b5b5b5;font-size:13px;}
.footer-content .add-link-ul .link-list-ul a:hover{color:#e7e7e8;}

.footer-content .copyright{height:50px;background-color:#5a5d5e;color:#909090;font-size:13px;padding:6px 0;}
.footer-content .copyright p{text-align:center;line-height:20px;}
.footer-content .copyright a{color:#b3b3b3;}
.footer-content .copyright a:hover{color:#e7e7e8;}
.footer-content.footer-top-border{border-top:14px solid #000;}
.footer-content a:hover{text-decoration:underline;}
.footer-website-home-link:hover{-webkit-animation:rotateAlways 1.3s linear infinite;}

/* 脚部装饰 */
.footer-decorate{}
.footer-decorate .footer-animal{position:relative;bottom:0;height:70px;}
.footer-decorate .footer-animal .footer-footprint{position:absolute;left:10px;bottom:0;width:630px;height:35px;background:url(../image/footer/other/footprint-to-right.png) repeat-x;background-size:contain;}
.footer-decorate .footer-animal .footer-footprint img{width:70px;-webkit-transform:rotate(90deg);}
.footer-decorate .footer-animal .footer-cat{position:absolute;right:220px;bottom:0;}
.footer-decorate .footer-animal .footer-cat img{max-width:70px;}

/* 循环旋转360度 */
@-webkit-keyframes rotateAlways{
    0%{
        -webkit-transform:rotate(0deg);
    }
    50%{
        -webkit-transform:rotate(180deg);
    }
    100%{
        -webkit-transform:rotate(360deg);
    }
}

/* E 脚部 E */

/* 左侧盯住栏 */
.left-bar{
    position:fixed;
    top:0;
    left:0;
    width:100px;
    height:100%;
    background:rgba(215, 230, 233, 0.5);
}
/* 左侧盯住栏 */
.right-bar{
    position:fixed;
    top:0;
    right:0;
    width:35px;
    height:100%;
    background:rgba(0,0,0,.4);
}


/* PC */
@media screen and (min-width:1367px){
    /*.main-wrap{
        width:1358px
    }
    .right-fix-block .right-corner{margin-left:679px;}*/
}
@media screen and (max-width:1366px){
    .main-wrap{
        width:1100px;
    }
    .center-wrap{}
}
/* iPhone 3 4 5 */
@media screen and (min-width:320px) and (max-width:374px){
    body{
        _background-color:green
    }
}
/* iPhone 6 */
@media screen and (min-width:375px) and (max-width:413px){
    body{
        _background-color:#8080c0
    }
}
/* iPhone 6plus */
@media screen and (min-width:414px) and (max-width:479px){
    body{
        _background-color:#ff8080
    }
}
/* Android and + */
@media screen and (min-width:480px) and (max-width:639px){
    body{
        _background-color:#f00
    }
}
/* Android and + */
@media screen and (min-width:640px) and (max-width:767px){
    body{
        _background-color:#400040
    }
}
/* ipad */
@media screen and (min-width:767px) and (max-width:1139px){
    body{
        _background-color:#808040
    }
}
/* 设备分辨率媒体查询 */
@media screen and (-webkit-min-device-pixel-ratio:2),screen and (max--moz-device-pixel-ratio:2){

}

.error{border:1px #f00 solid;background-color:#fbf9bb;}